* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 700px;
  background-color: red;
}
#griglia {
  width: 80%;
  height: 80%;
  background-color: blue;
}
.quadrato {
  float: left;
  height: 100px;
  width: calc(100% / 6);
  background-color: yellow;
  border: 1px solid white;
}
